@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

@import "tailwindcss";

@theme {
    --color-primary: #de8d6c;
    --color-primary-dark: #270b00;

    --color-tn: #7c4d3a;

    --color-gray-100: #342d3d;
    --color-gray-200: #141019;

    --color-gradient: #e7e5eb;
    --color-blue: #8C7DFF;

    --color-dark: #1f1d1a;

    --font-poppins: "Poppins", sans-serif;

    --background-image-hero-gradient: url('./bg_gradient.png');
}

@layer base {
    body {
        font-family: "Manrope", sans-serif;
        font-optical-sizing: auto;
        scroll-behavior: smooth;
    }
    h1 {
        @apply text-[2.9rem] sm:text-[3.4rem] font-bold tracking-tight text-dark
    }
    h2 {
        @apply text-2xl md:text-4xl font-bold text-dark 
    }
    h3 {
        @apply text-[1.3rem] md:text-2xl
    }
    h4 {
        @apply text-xl md:text-[1.34rem]
    }
    p {
        @apply text-[1rem] font-semibold
    }
    button {
        @apply text-[.8rem] capitalize text-violet-50 font-semibold outline-0
    }
}

@layer components {
    .bg-hero-gradient {
        @apply bg-hero-gradient bg-center bg-cover bg-no-repeat w-screen min-h-screen relative;
    }
    .bg-container-gradient {
        @apply bg-hero-gradient bg-center bg-cover bg-no-repeat max-w-[68rem] mx-auto rounded-[3rem] relative text-center flex flex-col gap-4 py-18 px-6 md:px-20 overflow-hidden;
    }
    .container {
        @apply px-5 md:px-7 lg:px-10 mx-auto
    }
    .isvisible {
        @apply bg-white/20 backdrop-blur-md
    }
    .primary_text span {
        @apply text-primary
    }
    .flexinput {
        @apply flex items-center justify-between gap-3;

       & input {
            @apply w-full bg-white h-13 rounded-4xl border-2 border-gray-300/40 text-sm font-semibold text-gray-100 indent-6 outline-0
        }
    }
    .footer {
        & p {
            @apply text-[1rem] text-primary font-bold mb-5;
        }
        & ul li a {
            @apply text-sm font-semibold text-gray-700;
        }
    }

}
