@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

@import "tailwindcss";

@theme {
    --color-primary: #de8d6c;
    --color-primary-dark: #270b00;

    --color-tn: #7c4d3a;

    --color-gray-100: #342d3d;
    --color-gray-200: #141019;

    --color-bg: #e7e5eb;
    --color-blue: #8C7DFF;

    --color-dark: #1f1d1a;

    --font-poppins: "Poppins", sans-serif;

    --background-image-hero-gradient: url('./bg_gradient.png');
}

@layer base {
    body {
        font-family: "Manrope", sans-serif;
        font-optical-sizing: auto;
        scroll-behavior: smooth;
        margin: 0;
    }
    h1 {
        @apply text-[2.9rem] sm:text-[3.4rem] font-bold tracking-tight text-dark
    }
    h2 {
        @apply text-xl sm:text-2xl font-bold text-dark 
    }
    p {
        @apply text-[17px] lg:text-xl
    }
    button {
        @apply text-[.8rem] capitalize text-violet-50 font-semibold
    }
}

@layer components {
    .bg-hero-gradient {
        @apply bg-hero-gradient bg-center bg-cover bg-no-repeat w-screen min-h-screen relative;
    }
    .container {
        @apply px-5 md:px-7 lg:px-10 mx-auto
    }
}